link(rel='stylesheet' href='css/about.css')

section#main
  .container
    article#main-col
      h1.page-title About us
      p
        | Uni Mark is an innovative online platform designed to connect student entrepreneurs with potential buyers, providing them with a convenient space to advertise and sell their products and services. With a user-friendly interface and a vibrant community, the website aims to empower student creativity, encourage entrepreneurship, and foster a supportive environment for economic growth.
      #box.dark
        h3.main_title Want to promote your Business with us?
        p.sub_paragraph
          | We are excited to offer you a platform to promote your businesses on our website! To get started and showcase your products effectively, we kindly request that you follow these instructions:
        ol
          li.numbers
            h4.instruction_heading Contact Information:
            ul.contact_info
              li Contact Number: Call or text us at 0000000000.
              li Email: Send an email to unimark.com.
              li WhatsApp: Reach out to us on WhatsApp at 00000000000.
          li.numbers
            h4.instruction_heading Introduction:
            p
              | When contacting us, please introduce yourself and provide a brief description of your business. Let us know what products or services you offer and any unique aspects that make your business stand out. We are excited to learn more about your entrepreneurial ventures!
          li.numbers
            h4.instruction_heading Product Pictures:
            p
              | To ensure an attractive and engaging listing, we kindly request that you send us pictures of your products or services. High-quality images will significantly enhance the appeal of your offerings and help potential buyers make informed decisions.
        p.outer
          | We are here to support and empower your entrepreneurial journey. Feel free to contact us should you have any questions or require further assistance. We look forward to showcasing your products and helping you succeed!
    aside#sidebar
      .border
        h3 Why we are here
        p.sub
          | We are here to support and empower your entrepreneurial journey. Feel free to contact us should you have any questions or require further assistance. We look forward to showcasing your products and helping you succeed!
