link(rel='stylesheet' href='/css/footer.css')
footer
  .footer
    .footer-content
      .footer-section.about
        h1.logo-text
          span Uni
          | Mark
        p
          | Uni Mark serves as an empowering platform for student entrepreneurs, offering them an opportunity to showcase their talents and monetize their skills. By providing a secure and user-friendly marketplace, the website connects students with potential buyers, fostering economic growth within the student community. Through its diverse range of features and community engagement initiatives, the platform encourages collaboration, learning, and the pursuit of entrepreneurial aspirations among students.
        .contact
          span
            i.fas.fa-phone
            |   000-000-0000
          span
            i.fas.fa-envelope
            |   unimark@gmail.com
        .socials
          a.fab.fa-facebook(href='#')
          a.fab.fa-instagram(href='#')
          a.fab.fa-twitter(href='#')
          a.fab.fa-youtube(href='#')
    .footer-bottom
      p © Uni Mark | by Omphlusa Mashau & Tshepo Shomang
