// header
nav.navbar
  .navbar-center
    span.nav-icon
      i.fas.fa-bars
    h1
      | Uni
      span.Pro Mark
    .cart-btn
      span.nav-icon
      i.fas.fa-cart-plus
      .cart-items 0
// end of header
