doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Sow Store
    // Bootstrap
    // <link rel="stylesheet" href="css/bootstrap.min.css">
    // custom css
    //link(rel='stylesheet' href='css/style.css')
    script(src='https://kit.fontawesome.com/3e2a1eade5.js', crossorigin='anonymous')
  body
    // navbar
    nav.navbar
      .navbar-center
        span.nav-icon
          i.fas.fa-bars
        h1 Sow 
          span.Pro Store 
          i.fas.fa-truck
        .cart-btn
          span.nav-icon
          i.fas.fa-cart-plus
          .cart-items 0
    // end of navbar
   

    // cart
    .add-overlay
      .add
        span.close-cart
          i.fas.fa-arrow-left
        h2 Your Product
        .cart-content
          .cart-item
        
        .cart-footer
          h3
            | your total : R 
            span.cart-total 0
          button.clear-cart.banner-btn clear cart
    // end of cart
    script(src='js/app.js')