doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title sow-store/cheakout
    // Bootstrap
    // <link rel="stylesheet" href="css/bootstrap.min.css">
    // custom css
    link(rel='stylesheet' href='css/style.css')
    script(src='https://kit.fontawesome.com/3e2a1eade5.js', crossorigin='anonymous')
    //script(src="file:///C:/Users/Palesa/Downloads/Tshepo/coding/Cheatsheets/Fontawsome/fontawesome-free-5.13.0-web/css/all.css") 
  body
    // navbar
    nav
      .navbar-cen
        h1.ss sow
          span.Pro store
          i.fas.fa-infinity
        
    // end of navbar